@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  background: #F5F6FA;
  font-family: 'Poppins', sans-serif;
}

.page {
  padding: 40px;
  .header {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    font-weight: 300;
    padding: 0 10px 5px 10px;
    .title {
      flex: 50%; 
    }
    .right {
      div {
        display: inline-block;
        margin: 0 5px;
        img {
          height: 10px;;
        }
      }
      .action {
        font-weight: 500;
        cursor: pointer;
      }
    }
  }
}





.modal-cover {
  background: rgba(0, 0, 0, 0.50);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  .modal {
    width: 50%;
    margin-top: -400px;
  }
}


.mat-drawer-container {
  background: none;
}
.mat-drawer.mat-drawer-side,
.mat-drawer {
  z-index: 0 !important;
}