<app-header></app-header>

<mat-sidenav-container class="app">

  <mat-sidenav #sidenav mode="side" opened class="menu-container">
    <ul>
      <li>
        <a routerLink="dashboard" routerLinkActive="active-link">
          <img src="assets/icons/weather.svg">
        </a>
      </li>
      <li>
        <a routerLink="locations" routerLinkActive="active-link">
          <img src="assets/icons/marker.svg">
        </a>
      </li>
    </ul>
  </mat-sidenav>

  <mat-sidenav-content class="router-container">
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>