<div class="dashboard page">
  <div class="header">
    <div class="title">Dashboard</div>
    <div class="right">Location | <span>Detroit, MI 48226</span></div>
  </div>
  <div class="cards">
    <div class="col-wrapper">
      <div class="col three"><app-card>a</app-card></div>
      <div class="col three"><app-card>a</app-card></div>
      <div class="col three"><app-card>a</app-card></div>
      <div class="col three"><app-card>a</app-card></div>
    </div>
    <div class="col-wrapper">
      <div class="col eight"><app-card>a</app-card></div>
      <div class="col four"><app-card>a</app-card></div>
    </div>
  </div>
</div>